{% extends "layout.html" %}
{% block page %}
<div class=page>
	<h2>Add</h2>
    <div class="row vertical-align">
        <form class="form-signin" action="{{ url_for('add') }}" method=post autocomplete="off">
            <div class="col-md-4">

		<div>
                    <label for="name">Name:</label>
                    <input type="name" name=name id="name" class="form-control" required><br>
		</div>

		<div>
                    <label for="serv">Service status:</label>
                    <select type="serv" name=serv id="serv" class="form-control">
                    <option>ON</option>
                    <option>OFF</option>
                    </select><br>
		</div>

		<div>
                    <label for="route">Route:</label>
                    <select type="text" name=route id="route" class="form-control" value="{{route}}" placeholder="{{route}}">
                        <option>NONE</option>
                        {% for route in routes %}
                        <option>{{ route }}</option>
                        {% endfor %}
                    </select><br>
		</div>

		<div>
		    <label for="parameters">Parameters:</label>
                    <input type="parameters" name=parameters id="parameters" class="form-control"> <br>
		</div>

		<div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="add">Add</button>
		</div>
           </div>

		<div class="col-md-4 col-md-offset-1">
                    <label for="input">Input:</label>
                    <textarea type="text" rows="15" cols="60" name="input" placeholder="Add your text" required></textarea>
		</div>
        </form>
    </div>
</div>
{% endblock %}

