{% extends "layout.html" %}
{% block page %}
  
  <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">

  <h2>Change Password</h2>
  <br>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <form class="form-signin" onsubmit="change_password(this.form)" method="post" autocomplete="off">
        <label for="password" class="sr-only">New Password</label>
        <input type="password" name=password id="password" class="form-control" placeholder="New Password" required>
        <button class="btn btn-lg btn-info btn-block" type="button" onclick="login(this.form)">Change Password</button>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    document.onkeypress = enter;
    function enter(e){
    if (e.which == 13){
      login(document.forms[0])
    }
  }
  </script>

{% endblock %}