{% extends "layout.html" %}
{% block page %}
<div class=page>
    <h2>{{ name }} - Settings</h2>
        <div class="row vertical-align">
            <form class="form-signin" action="{{ url_for('configure') }}/{{ name }}" method=post autocomplete="off">
                <div class="col-md-3">
                    <div>
                          <label for="serv">Service status:</label>
                          <select type="serv" name=serv id="serv" class="form-control" value="{{serv}}" placeholder="{{serv}}">
                              <option>ON</option>
                              <option>OFF</option>
                          </select>
                          <br>
                      </div>

                      <div>
                          <label for="enable" class="checkbox style-2 pull-right"></label>
                          <input type="checkbox" name="enable" value='on'>
                          
                          Enable:<br>
                          <input type="hidden" name="enable" value='off'>
                          <br>
                      </div>

                      <div>
                          <label for="route">Route:</label>
                          <select type="text" name=route id="route" class="form-control" value="{{route}}" placeholder="{{route}}">
                          <option>NONE</option>
                          {% for route in routes %}
                              <option>{{ route }}</option>
                          {% endfor %}
                          </select>
                          <br>
                          <br>
                          <br>
                      </div>

                      <div>
                          <a href="{{ url_for('configure') }}/{{ name }}">
                              <button class="btn btn-lg btn-info btn-block" value="config">Update</button>
                          </a>
                      </div>
                      <div>
                          <br>
                          <a href="{{ url_for('remove') }}/{{ name }}">
                              <button class="btn btn-lg btn-danger btn-block" >Remove</button>
                          </a>
                      </div>

                  </div>
            <div class="col-md-4 col-md-offset-1">
                <br>
                <label for="input">Input:</label>
                {% if check == "yes" %}
                    <textarea type="text" rows="15" cols="60" name="input" placeholder="Add your text">{{ expectedFile }}</textarea>
                {% else %}
                    <textarea type="text" rows="15" cols="60" name="input" placeholder="Add your text"></textarea>
		            {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

