<!doctype html>
<html lang="en">
<head>
    <title>REST-Monitor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <style type="text/css">
        .vertical-align {
            display: flex;
            align-items: center;
        }

        .btn .glyphicon {
            margin-right: 5px;
        }
         
        .btn.btn-icon .glyphicon {
            margin-right: 0;
        }
    </style>

    <!-- Add javascripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sha1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('show_results') }}">REST-Monitor</a>
            </div>
            <div class="navbar-right">
                {% if not session.logged_in %}
                    <a href="{{ url_for('login') }}">
                        <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('change_password') }}">
                        <button type="button" class="btn btn-default navbar-btn">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ session['username'] }}
                        </button>
                    </a>
                    <a href="{{ url_for('settings') }}">
                        <button type="button" class="btn btn-default navbar-btn">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Settings
                        </button>
                    </a>
                    <a href="{{ url_for('logout') }}">
                        <button type="button" class="btn btn-default navbar-btn">Sign out</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>    
    <div class ="container">

        <div class="row" style="height:70px">
            {% if error %}
                <div class="alert alert-danger">Error: {{ error }}</div>
            {% endif %}
            {% for message in get_flashed_messages() %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}   
        </div>
        {% block page %}{% endblock %}
    </div>    
</body>
</html>
