{% extends "layout.html" %}
{% block page %}
  
  <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">

  <h2>Login</h2>
  <br>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <form class="form-signin" onsubmit="login(this.form)" method="post" autocomplete="off">
        <label for="username" class="sr-only">Username</label>
        <input type="username" name=username id="username" class="form-control" placeholder="Username" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" name=password id="password" class="form-control" placeholder="Password" required>
          
        <!-- <input type="submit" class="btn btn-lg btn-info btn-block" value="Sign in" > -->
        <button class="btn btn-lg btn-info btn-block" type="button" onclick="login(this.form)">Sign in</button>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    document.onkeypress = enter;
    function enter(e){
    if (e.which == 13){
      login(document.forms[0])
    }
  }
  </script>

{% endblock %}