{% extends "layout.html" %}
{% block page %}
<div class=page>
	<h2>Settings</h2>
	<div class="row">
		All timeouts are presented in seconds.
		<br>
		<br>
	</div>
		<form class="form-signin" action="{{ url_for('settings') }}" method=post autocomplete="off">
		<div class="row">
			<div class="col-sm-3">
				<label for="interval">Interval timeout</label>
				<input type="interval" type="number" name=interval id="interval" class="form-control" value="{{interval}}" placeholder="{{interval}}" required autofocus>
				<br>

				<label for="upload">Upload timeout</label>
				<input type="upload" type="number" name=upload id="upload" class="form-control" value="{{upload}}" placeholder="{{upload}}" required>
				<br>

				<label for="queue">Queue timeout</label>
				<input type="queue" type="number" name=queue id="queue" class="form-control" value="{{queue}}" placeholder="{{queue}}" required>
				<br>

				<label for="request">Request timeout</label>
				<input type="request" type="number" name=request id="request" class="form-control" value="{{request}}" placeholder="{{request}}" required>
				<br>
			</div>
			<div class="col-sm-3 col-sm-offset-2">
				<label for="mail_addr">E-Mail address</label>
				<input type="mail_addr" name=mail_addr id="mail_addr" class="form-control" value="{{mail_addr}}" placeholder="{{mail_addr}}" required>
				<br>

				<label for="mail">E-Mail timeout</label>
				<input type="mail" type="number" name=mail id="mail" class="form-control" value="{{mail}}" placeholder="{{mail}}" required>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-0">
				<button class="btn btn-lg btn-info btn-block" type="submit">Update</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
