{% extends "layout.html" %}
{% block page %}
	
	<h2>Results</h2>
    <div class="row"> 
    	<div class="col-xs-3">
    		<div class="label label-warning" style="font-size: 14px">Last check: {{ check_time }}</div>
    	</div>
    	<div class="col-xs-1 col-xs-offset-5">
	    	{% if session.logged_in %}
			<a href="{{ url_for('add') }}">
		     		<button type="button" class="btn btn-primary navbar-btn">
		     			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Add
		     		</button>
	        	</a>
			{% endif %}
		</div>
    	<br>
    	<br>
    </div>
	{% for result in results %}
		<div class="row vertical-align" height="42">
			<div class="col-xs-1">
				{% if result.status == "GREEN" %}
					<img src="{{ url_for('static',  filename='icons/circle_green.ico') }}" alt="{{ result.status }}" height="42" width="42" class="img-circle">
				{% elif result.status == "RED" %}
					<img src="{{ url_for('static',  filename='icons/circle_red.ico') }}" alt="{{ result.status }}" height="42" width="42" class="img-circle">
				{% elif result.status == "YELLOW" %}
					<img src="{{ url_for('static',  filename='icons/circle_yellow.ico') }}" alt="{{ result.status }}" height="42" width="42" class="img-circle">
				{% elif result.status == "WHITE" %}
					<img src="{{ url_for('static',  filename='icons/circle_grey.ico') }}" alt="{{ result.status }}" height="42" width="42" class="img-circle">
				{% elif result.status == "BLUE" %}
					<img src="{{ url_for('static',  filename='icons/circle_blue.ico') }}" alt="{{ result.status }}" height="42" width="42" class="img-circle">
				{% else %}
					{{ result.status }}
				{% endif %}
			</div>
			<div class="col-xs-2">
			{{ result.name }} 
			</div>
			<div class="col-xs-4">
				Last change: {{ result.last_change }}
			</div>
			<div class="col-xs-5">
				{% if session.logged_in and result.name != 'UPLOAD' %}
					<a href="{{ url_for('ping') }}/{{ result.name }}">
                        <button type="button" class="btn btn-info navbar-btn">
                        	<span class="glyphicon glyphicon-send" aria-hidden="true"></span>Ping
                        </button>
               		</a>
					<a href="{{ url_for('configure') }}/{{ result.name }}">
                        <button type="button" class="btn btn-success navbar-btn">
                        	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Config
                        </button>
               		</a>
               		{% if result.status == "YELLOW" %}
	               		<a href="{{ url_for('update') }}/{{ result.name }}">
	                        <button type="button" class="btn btn-warning navbar-btn">
	                        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Update
	                        </button>
	               		</a>
               		{% endif %}
				{% endif %}
			</div>
		</div>
		{% if result.name == "UPLOAD" %}
			<br>
		{% endif %}
	{% endfor %}
{% endblock %}
