{% extends "layout.html" %}
{% block page %}
<div>
	<h2>UPDATE - {{ name }}</h2>
	<form class="form-signin" action="{{ url_for('update') }}/{{ name }}" method=post autocomplete="off">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="expectedFile">Expected value:</label>	
					<textarea class="form-control" type="text" rows="15" name="expectedFile" id="expectedFile" disabled>{{ expectedFile }}</textarea>
					<br>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">	
					<label for="recivedFile">Recived value:</label>
					<textarea class="form-control" type="text" rows="15" name="recivedFile" id="recivedFile">{{ recivedFile }}</textarea>
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-sm-offset-9">
				<button class="btn btn-lg btn-info" type="submit" name="submit" value="update">Update</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}